
.con{
   width: 500px;
   display: flex;
   justify-content: center;
}

.imgDiv{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.imgDivvv{
   display: flex;
   flex-direction: column;
   justify-content: center;
}

@media only screen and (max-width: 767px) {
 .con img{
    width: 336px;
 }
 .con{
    width: 350px;
 }
}